@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 0px !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: 0 !important;
}

.btn {
    border-radius: 0 !important;
}

.table thead,
.table th {text-align: center;}

.table thead,
.table tbody tr td {text-align: center;}
